<%- include('../templates/header.ejs');  %>
</head>

<body>
    <%- include('../templates/navbar.ejs');  %>
    <main>
        <h1 class="error404">404: Page Not Found!</h1>
    </main>
    
<%- include('../templates/footer.ejs');  %>