<%- include('../templates/header.ejs');  %>
</head>

<body>
    <%- include('../templates/navbar.ejs');  %>
    <main>
        <h1>Welcome to 'someRandom shop name'!</h1>
    </main>

<%- include('../templates/footer.ejs');  %>